.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 80px;
}

.directory-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-item {
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0 7.5px 15px;
    background-size: cover;
    background-position: center;

    &:first-child {
        margin-right: 7.5px;
    }

    &:last-child {
        margin-left: 7.5px;
    }

    .content {
        height: 90px;
        padding: 0 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        background-color: white;
        opacity: 70%;

        .title {
            font-weight: bold;
            margin-bottom: 6px;
            font-size: 22px;
            color: #4a4a4a;
        }

        .subtitle {
            font-weight: lighter;
            font-size: 16px;
        }
    }
}

.link_style {
    cursor: pointer;
    color: #000000;
    text-decoration: none;
}

.shop_container {
    padding-bottom: 10px;
    
    .text-style {
        text-align: center;
        opacity: 100%;
        cursor: pointer;
    }
    .text-style:hover {
        text-align: center;
        opacity: 70%;
    }
    
    .title_style{
        padding-bottom: 20px; 
        font-weight: bold;
    }

    .card-list {
        width: 85vw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        border: 1px dashed #e3e3e3;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.wrapper{
    padding-top: 20px
}

.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .logo-container {
        height: 39px;
        width: 50px;
        padding: 10px;
    }

    a {
        text-decoration: none;
        color: #000000;
    }

    .options {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .option {
            padding: 5px 15px;
            cursor: pointer;
        }
    }
}

.custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
    }

    &.google-sign-in {
        background-color: #4285f4;
        color: white;

        &:hover {
        background-color: #357ae8;
        border: none;
        }
    }
}

.float-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 12px;
    padding-bottom: 10px;
    
    .item_title{
        width: 80%;
        padding-left: 30px;
        text-align: left;
    }
    
    .item_price{
        padding-right: 25px;
        text-align: right;
    }

    .login_div {
        width: 50vh;
        padding-left: 30px;
    }
}

